Requirements of the project:
pandas
ipython
gradio  # Optional, only if you're using the GUI interface
.
.
Pandas: To display results in table format and manage test cases cleanly
Ipython: Required to use IPython.display for pretty HTML display in notebooks
Gradio(Optional): Only needed if you're using the Gradio UI demo


